// Navigation Styles here


 nav {
    display: flex;
    // justify-content: space-between;
    // flex-direction: row-reverse;
    padding: 2%;
    border-bottom: 2px dashed @navigation-border; 

    a {
        padding: 2%;
        text-decoration: none;
        font-size: 1.4rem;
        color: @shark;
        
    }//closes a

    .funB {
    margin-left: 9%;
    margin-right: 35%;

        /////Media Query//////////////    
        @media @phone {
        
        }//media query
    }  
 }  