// Navigation Styles here


 nav {
    display: flex;
    padding: 2%;
    border-bottom: 2px dashed @navigation-border; 
    /////////////////////////////////////////////
    @media @phone {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
       
        
        
    }//closes media query
    a {
        padding: 2%;
        text-decoration: none;
        font-size: 1.4rem;
        color: @shark;
        ///////////////////////
        @media @phone {
            text-align: center;
            font-size: .75rem;
            
         

        }
        
    }//closes a

    .funB {
    margin-left: 9%;
    margin-right: 35%;

        /////Media Query//////////////    
        @media @phone {
        font-size: 1.8rem;
        width: 100%;
        margin: 0;
        
        
        
        
 
        }//media query
    }  
 }  